body{
    min-height: 100vh;
}

.title{
    font-family: 'Rubik Scribble', system-ui;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 700;
    background-color: re;
 
}
.containerImg{
    background-image: url('hero.jpg');
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerIcon{
    position: relative;
    left: 2%;
}

.hidden{
    display: none;
}

.buttonSearch:hover {
    background-color: red;
    color: white;
}
.hover:hover {
    background-color: red;
    color: white;
}






  .hoverImg {
    overflow: hidden;
    position: relative;
  }
  
  .hoverImg {
    transition: transform 0.3s ease;
  }
  
  .hoverImg:hover img {
    transform: scale(1.1);
  }
  
  
  .hoverComic {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .hoverComic:hover {
    transform: translateY(-20px); 
  }

    
  .hoverComic:hover {
    transform: translateY(-20px); 
    
  }
  .hoverText:hover{
    color: red;
  }

 .marginTop{
  border-top: 2px solid red;
 }

 button:disabled {
  background-color: green; 
  color: white; 
  cursor: not-allowed; 
  opacity: 0.6; 
}

.hiddenLoader{
  overflow: hidden;
}
.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



