body{
    min-height: 100vh;
}

.title{
    font-family: 'Rubik Scribble', system-ui;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 700;
    background-color: re;
 
}
.containerImg{
    background-image: url('hero.jpg');
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerIcon{
    position: relative;
    left: 2%;
}

.hidden{
    display: none;
}

.buttonSearch:hover {
    background-color: red;
    color: white;
}
.hover:hover {
    background-color: red;
    color: white;
}


.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #F43B2497;
    position: relative;
    animation: s4 1s infinite linear;
  }
  .custom-loader:before,
  .custom-loader:after {
    content: "";
    position: absolute;
    inset:-8px;
    border-radius: 50%;
    border:inherit;
    animation:inherit;
    animation-duration: 2s;
  }
  .custom-loader:after {
    animation-duration: 4s;
  }
  
  @keyframes s4 {
    100% {transform: rotate(1turn)}
  }

